/* ===================
   FORMS
======================*/

.mktoForm input.mktoTextField,
input.mktoEmailField,
input.mktoTelField,
select.mktoField,
textarea {
    max-width: 354px;
    height: 37px;
}

.mktoHtmlText strong {
    font-weight: bold;
}

.mktoOffset {
    width: 0px !important;
}

.mktoRadioList {
    max-width: 760px;
}

div.mktoHtmlText.mktoHasWidth {
    width: 729px !important;
}

form.mktoForm input[type=text],
form.mktoForm input[type=url],
form.mktoForm input[type=email],
form.mktoForm input[type=tel],
form.mktoForm input[type=number],
form.mktoForm input[type=date],
form.mktoForm textarea.mktoField {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #b9b9b9;
    border-radius: 0;
    color: #555;
    font-family: 'Merriweather Sans', Arial, sans-serif !important;
    font-size: 16px !important;
    height: 37px;
    line-height: 1 !important;
    padding: 6px 12px !important;
}

form.mktoForm {
    font-size: inherit;
    line-height: inherit;
    margin: 0 auto 50px
}

@media screen and (min-width: 1024px) {
    form.mktoForm#mktoForm_1280 {
        width: 721px !important
    }
}

form.mktoForm .mktoFormRow {
    padding-top: 25px
}

form.mktoForm div.mktoHtmlText p {
    color: #505759;
    font-size: 16px
}

form.mktoForm label {
    color: #505759;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 15px;
    text-transform: none;
    font-weight: 400;
    white-space: normal;
    margin-top: 0 !important;
    line-height: 1 !important
}

form.mktoForm label.mktoLabel {
    white-space: nowrap;
    font-weight: 700
}

form#mktoForm_1280 .mktoLabel {
    display: block;
    float: none;
    padding-left: 10px
}

form.mktoForm .mktoAsterix {
    color: #505759;
    float: left;
    padding-left: 0;
    padding-right: 5px
}

form.mktoForm input[type=text],
form.mktoForm input[type=url],
form.mktoForm input[type=email],
form.mktoForm input[type=tel],
form.mktoForm input[type=number],
form.mktoForm input[type=date],
form.mktoForm textarea.mktoField {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #b9b9b9;
    border-radius: 0;
    color: #555;
    font-family: 'Merriweather Sans', Arial, sans-serif !important;
    font-size: 16px !important;
    height: 37px;
    line-height: 1 !important;
    padding: 6px 12px !important
}

form.mktoForm textarea.mktoField {
    height: 70px
}

form.mktoForm input[type=text]:focus,
form.mktoForm input[type=url]:focus,
form.mktoForm input[type=email]:focus,
form.mktoForm input[type=tel]:focus,
form.mktoForm input[type=number]:focus,
form.mktoForm input[type=date]:focus {
    border-color: #000;
    border-width: 1px;
    box-shadow: 0 0 0 1px #000 inset
}

form.mktoForm input[type=radio] {
    margin-top: 3px
}

form.mktoForm select {
    background-color: #FFF;
    border: none;
    border-radius: 0;
    color: #555;
    font-size: 14px !important;
    height: 37px !important;
    line-height: 37px !important;
    outline: #ccc solid 1px;
    padding: 0 12px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    //background-image: url(images/select-arrows.png);
    background-repeat: no-repeat;
    background-position: 287px 3px
}

form.mktoForm select.open {
    background-position: 287px -37px
}

@media only screen and (max-width: 480px),
only screen and (max-device-width:480px) {
    form.mktoForm select {
        background-position: 270px 3px
    }

    form.mktoForm select.open {
        background-position: 270px -37px
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width:568px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {
    form.mktoForm select {
        background-position: 240px 3px
    }

    form.mktoForm select.open {
        background-position: 240px -37px
    }
}

form.mktoForm select:active,
form.mktoForm select:focus {
    border-color: #000;
    border-width: 1px;
    box-shadow: 0 0 0 2px #000 inset
}

form.mktoForm select option {
    color: #555;
    font-size: 14px;
    line-height: 37px;
    padding: 0 2px 1px
}

form.mktoForm textarea {
    border: 1px solid #b9b9b9;
    background: #edeeee;
    color: #505759;
    font-size: 14px !important;
    height: 230px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 15px 0 15px 20px !important;
    resize: none !important
}

form.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton {
    background: #c8102e !important;
    border: 1px solid #b00e29 !important;
    border-radius: 0;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 7px 35px;
    text-align: center;
    text-transform: none !important;
    vertical-align: middle;
    white-space: nowrap
}