.heroLarge {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__container {
    @include container;
    display: grid;
    gap: 1rem;
    position: absolute;
    z-index: 2;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  h1 {
    @include md {
      max-width: 30rem;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: 1;
    opacity: 0.2;
    @include md {
      opacity: 1;
    }
  }
  &__description {
    margin-bottom: 2rem;
  }
  &__btn {
    &:not(:last-child) {
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      @include md {
        margin-bottom: 0.25rem;
      }
    }
  }
}
