.navbarDefault {
  display: flex;
  background: $color-white;
  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    @include md {
      align-items: flex-start;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    @include md {
      height: 7rem;
      width: auto;
    }
  }
  &__logo {
    font-size: $font-size-h2;
  }
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    background: $color-blue;
    color: $color-white;
    border: none;
    &:hover {
      background: $color-blue;
      cursor: pointer;
    }
    svg {
      height: 2rem;
      width: 2rem;
    }
    @include md {
      display: none;
    }
  }
  &__nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
    &--active {
      display: block;
      margin-left: -$spacer;
      margin-right: -$spacer;
      padding: $spacer;
      background: lighten($color-slate-1, 10%);
      @include md {
        background: none;
      }
    }
    @include md {
      display: flex;
      flex-direction: row;
    }
  }
  &__nav-link {
    padding: $spacer 0;
    text-decoration: none;
    color: $color-slate;
    display: inline-block;
    background: none;
    &:hover {
      color: $color-black;
    }
    @include md {
      padding: $spacer;
    }
    &--active {
      @include md {
        background: $color-blue;
        color: $color-white;
        transition: $transition-default;
        &:hover {
          color: $color-white;
          background: darken($color-blue, $btn-hover-amount);
        }
      }
    }
  }
  &__nav-item {
    position: relative;
  }
  &__dropdown {
    list-style-type: none;
    display: block;
    border: 1px solid $color-slate-1;
    background: $color-white;
    z-index: 3;
    @include md {
      background: none;
      border: none;
      position: absolute;
      position: absolute;
      top: 3.5rem;
      left: 0;
      width: 200px;
    }
  }
  &__dropdown-item {
    button {
      width: 100%;
      text-align: left;
    }
  }
  &__dropdown-item:not(:last-child) .navbar__dropdown-link {
    @include md {
      border-bottom: 1px solid $color-white;
    }
  }
  &__dropdown-link {
    text-decoration: none;
    padding: $spacer;
    display: block;
    font-size: $font-size-small;
    color: $color-slate;
    transition: $transition-default;
    &:hover {
      background: $color-slate-2;
    }
    @include md {
      padding: $spacer;
      background: $color-blue;
      color: $color-white;
      &:hover {
        background: darken($color-blue, $btn-hover-amount);
      }
    }
  }
}
