%sidebarItem {
  display: flex;
  padding: 1rem;
  align-items: center;
  text-decoration: none;
  color: $color-slate;
}

.sidebarDefault {
  display: flex;
  flex-direction: column;
  &__list {
    list-style: none;
  }
  &__item:not(:last-child) .sidebarDefault__link {
    border-bottom: 1px solid $color-slate-1;
  }
  &__item {
    &--headline {
      background-color: $color-grey;
      @extend %sidebarItem;
    }
  }
  &__link {
    @extend %sidebarItem;
    &:hover {
      text-decoration: underline;
    }
    &--active{
      font-weight: bold;
    }
  }
}
